<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Currency Calculator App</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <section>
      <article>
        <!-- <img src="../img_01.jpeg" alt="currency converter img" /> -->
        <h1>Currency conventer</h1>
      </article>
      <form>
        <div><label for="">convert from:</label> <input type="text" /></div>
        <div><label for="">convert to:</label> <input type="text" /></div>
        <div><label for="">amound:</label> <input type="number" /></div>
        <button>convert</button>
      </form>
    </section>
  </body>
</html>
